<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"><html xmlns="http://www.w3.org/1999/xhtml"><head><title>R: Distance Matrix Computation</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="R.css" />
</head><body>

<table width="100%" summary="page for Dist {amap}"><tr><td>Dist {amap}</td><td style="text-align: right;">R Documentation</td></tr></table>

<h2>Distance Matrix Computation</h2>

<h3>Description</h3>

<p>This function computes and returns the distance matrix computed by
using the specified distance measure to compute the distances between
the rows of a data matrix.
</p>


<h3>Usage</h3>

<pre>
Dist(x, method = "euclidean", nbproc = 2, diag = FALSE, upper = FALSE)
</pre>


<h3>Arguments</h3>

<table summary="R argblock">
<tr valign="top"><td><code>x</code></td>
<td>
<p>numeric matrix or (data frame) or an object of class
&quot;exprSet&quot;.
Distances between the rows of
<code>x</code> will be computed.</p>
</td></tr>
<tr valign="top"><td><code>method</code></td>
<td>
<p>the distance measure to be used. This must be one of
<code>"euclidean"</code>, <code>"maximum"</code>, <code>"manhattan"</code>,
<code>"canberra"</code>, <code>"binary"</code>, <code>"pearson"</code>,
<code>"abspearson"</code>,  <code>"correlation"</code>,
<code>"abscorrelation"</code>, <code>"spearman"</code> or <code>"kendall"</code>.
Any unambiguous substring can be given.</p>
</td></tr>
<tr valign="top"><td><code>nbproc</code></td>
<td>
<p>integer, Number of subprocess for parallelization</p>
</td></tr>
<tr valign="top"><td><code>diag</code></td>
<td>
<p>logical value indicating whether the diagonal of the
distance matrix should be printed by <code>print.dist</code>.</p>
</td></tr>
<tr valign="top"><td><code>upper</code></td>
<td>
<p>logical value indicating whether the upper triangle of the
distance matrix should be printed by <code>print.dist</code>.</p>
</td></tr>
</table>


<h3>Details</h3>

<p>Available distance measures are (written for two vectors <i>x</i> and
<i>y</i>):
</p>

<dl>
<dt><code>euclidean</code>:</dt><dd><p>Usual square distance between the two
vectors (2 norm).</p>
</dd>
<dt><code>maximum</code>:</dt><dd><p>Maximum distance between two components of <i>x</i>
and <i>y</i> (supremum norm)</p>
</dd>
<dt><code>manhattan</code>:</dt><dd><p>Absolute distance between the two vectors
(1 norm).</p>
</dd>
<dt><code>canberra</code>:</dt><dd><p><i>
	sum(|x_i - y_i| / |x_i + y_i|)</i>.  Terms with zero numerator and
denominator are omitted from the sum and treated as if the values
were missing.
</p>
</dd>
<dt><code>binary</code>:</dt><dd><p>(aka <em>asymmetric binary</em>): The vectors
are regarded as binary bits, so non-zero elements are &lsquo;on&rsquo; and zero
elements are &lsquo;off&rsquo;.  The distance is the <em>proportion</em> of
bits in which only one is on amongst those in which at least one is on.</p>
</dd>
<dt><code>pearson</code>:</dt><dd><p>Also named &quot;not centered Pearson&quot;
<i>
	1 - sum(x_i y_i) / sqrt [sum(x_i^2) sum(y_i^2)]</i>.
</p>
</dd>
<dt><code>abspearson</code>:</dt><dd><p>Absolute Pearson
<i>
	1 - |sum(x_i y_i) / sqrt [sum(x_i^2) sum(y_i^2)] |</i>.
</p>
</dd>
<dt><code>correlation</code>:</dt><dd><p>Also named &quot;Centered Pearson&quot;
<i>1 - corr(x,y)</i>.  
</p>
</dd>
<dt><code>abscorrelation</code>:</dt><dd><p>Absolute correlation
<i>1 - | corr(x,y) |</i>
with
</p>
<p><i> corr(x,y) = \frac{&sum;_i x_i y_i -\frac1n &sum;_i x_i &sum;_i%
y_i}{% frac: 2nd part
&radic;{&le;ft(&sum;_i x_i^2 -\frac1n &le;ft( &sum;_i x_i \right)^2 %
\right)%
&le;ft( &sum;_i  y_i^2 -\frac1n &le;ft( &sum;_i y_i \right)^2 %
\right)}  }</i>.  
</p>
</dd>
<dt><code>spearman</code>:</dt><dd><p>Compute a distance based on rank.
<i>sum (d_i^2)</i> where <i>d_i</i> is the difference
in rank between <i>x_i</i> and <i>y_i</i>.
</p>
<p><code>Dist(x,method="spearman")[i,j] =</code>
</p>
<p><code>cor.test(x[i,],x[j,],method="spearman")$statistic</code>
</p>
</dd>
<dt><code>kendall</code>:</dt><dd><p>Compute a distance based on rank.
<i>&sum;_{i,j} K_{i,j}(x,y)</i> with <i>K_{i,j}(x,y)</i>
is 0 if <i>x_i, x_j</i> in same order as <i>y_i,y_j</i>,
1 if not.
</p>
</dd>
</dl>

<p>Missing values are allowed, and are excluded from all computations
involving the rows within which they occur.  If some columns are
excluded in calculating a Euclidean, Manhattan or Canberra distance,
the sum is scaled up proportionally to the number of columns used.
If all pairs are excluded when calculating a particular distance,
the value is <code>NA</code>.
</p>
<p>The functions <code>as.matrix.dist()</code> and <code>as.dist()</code> can be used
for conversion between objects of class <code>"dist"</code> and conventional
distance matrices and vice versa.
</p>


<h3>Value</h3>

<p>An object of class <code>"dist"</code>.
</p>
<p>The lower triangle of the distance matrix stored by columns in a
vector, say <code>do</code>. If <code>n</code> is the number of
observations, i.e., <code>n &lt;- attr(do, "Size")</code>, then
for <i>i &lt; j &lt;= n</i>, the dissimilarity between (row) i and j is
<code>do[n*(i-1) - i*(i-1)/2 + j-i]</code>.
The length of the vector is <i>n*(n-1)/2</i>, i.e., of order <i>n^2</i>.
</p>
<p>The object has the following attributes (besides <code>"class"</code> equal
to <code>"dist"</code>):
</p>
<table summary="R valueblock">
<tr valign="top"><td><code>Size</code></td>
<td>
<p>integer, the number of observations in the dataset.</p>
</td></tr>
<tr valign="top"><td><code>Labels</code></td>
<td>
<p>optionally, contains the labels, if any, of the
observations of the dataset.</p>
</td></tr>
<tr valign="top"><td><code>Diag, Upper</code></td>
<td>
<p>logicals corresponding to the arguments <code>diag</code>
and <code>upper</code> above, specifying how the object should be printed.</p>
</td></tr>
<tr valign="top"><td><code>call</code></td>
<td>
<p>optionally, the <code><a href="../../base/html/call.html">call</a></code> used to create the
object.</p>
</td></tr>
<tr valign="top"><td><code>methods</code></td>
<td>
<p>optionally, the distance method used; resulting form
<code><a href="../../stats/html/dist.html">dist</a>()</code>, the (<code><a href="../../base/html/match.arg.html">match.arg</a>()</code>ed) <code>method</code>
argument.</p>
</td></tr>
</table>


<h3>Note</h3>

<p>Multi-thread (parallelisation) is disable on Windows.</p>


<h3>References</h3>

<p>Mardia, K. V., Kent, J. T. and Bibby, J. M. (1979)
<em>Multivariate Analysis.</em> London: Academic Press.
</p>
<p>Wikipedia
<a href="http://en.wikipedia.org/wiki/Kendall_tau_distance">http://en.wikipedia.org/wiki/Kendall_tau_distance</a>
</p>


<h3>See Also</h3>

<p><code><a href="../../cluster/html/daisy.html">daisy</a></code> in the &lsquo;<span class="file">cluster</span>&rsquo; package with more
possibilities in the case of <em>mixed</em> (contiuous / categorical)
variables.
<code><a href="../../stats/html/dist.html">dist</a></code>  <code><a href="hcluster.html">hcluster</a></code>.
</p>


<h3>Examples</h3>

<pre>
x &lt;- matrix(rnorm(100), nrow=5)
Dist(x)
Dist(x, diag = TRUE)
Dist(x, upper = TRUE)


## compute dist with 8 threads
Dist(x,nbproc=8)


Dist(x,method="abscorrelation")
Dist(x,method="kendall")

</pre>

<hr /><div style="text-align: center;">[Package <em>amap</em> version 0.8-16 <a href="00Index.html">Index</a>]</div>
</body></html>
